CUTEPETSBOSTON_RESCUEGROUPS_API_KEY=
INSTAGRAM_BUSINESS_ACCOUNT_ID=
INSTAGRAM_PAGE_ACCESS_TOKEN=
BLUESKY_HANDLE=
BLUESKY_PASSWORD=
MASTODON_TOKEN=
MASTODON_API_BASE_URL=https://mastodon.social
APP_ENV=

CITY_NAME=Boston
CITY_STATE=MA
POSTAL_CODE=02108
